.body{
  background-color: #00b894 ;
  font-family: 'Harmattan', sans-serif;
  font-size: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.jumbotron{
  background-color: #ffffff00!important;
}
.form-group{
  margin-top: 2rem!important;
}
 input {
   border-color : #00b894!important;
 }
 .form-control:focus {
   box-shadow: inset 0 0 0 #00b894!important;
 }

.copyright , .copyright a:hover{
  text-align:left;
  font-family: 'Indie Flower', cursive;
  color:#2d3436  !important;
  text-decoration: none;
}
a{
  color : #27ae60;
}
.btn{
  box-shadow: none !important;
}
